.sendForm {
    display: flex;
    align-items: end;
}

.textarea {
    height: 40px;
    width: 976px;
    left: 70px;
    top: 408px;
    border-radius: 20px;
    background-color: #F5F7FB;


}

::-webkit-input-placeholder {
    text-align: center;
}

.button {
    background-color: #0066CC;
    color: #FFFFFF;
    height: 40px;
    width: 120px;
    left: 1090px;
    top: 408px;
    margin-left: 44px;
    border-radius: 20px;
    border: none;

}

.button:hover {

}

.button:active {

}
